.IconSocial {
  border: 5px solid var(--color-primary);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.IconSocial__Logo {
  object-fit: cover;
  width: 15px;
  height: 15px;
  filter: brightness(0) saturate(100%) invert(12%) sepia(44%) saturate(2217%)
    hue-rotate(232deg) brightness(98%) contrast(95%);
}
