:root {
  --color-primary: #30235b;
  --color-secondary: #4f5665;
  --color-accent1: #d9d9d9;
  --color-accent2: #f8f8f8;
  --font-size-xs: 16px;
  --font-size-sm: 20px;
  --font-size-md: 28px;
  --font-size-lg: 36px;
  --font-size-xl: 42px;
  --font-size-2xl: 52px;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 800;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-size: var(--font-size-md);
  font-weight: var(--font-weight-light); */
  scroll-behavior: smooth;
}

ol > li,
ul > li {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  position: relative;
}

.link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: '';
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: var(--color-primary);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.link:hover:after {
  width: 100%;
  left: 0;
}

.page {
  width: 85%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f6f6f6;
}