:root {
  --color-primary: #30235b;
  --color-secondary: #4f5665;
  --color-accent1: #d9d9d9;
  --color-accent2: #f8f8f8;
  --font-size-xs: 16px;
  --font-size-sm: 20px;
  --font-size-md: 28px;
  --font-size-lg: 36px;
  --font-size-xl: 42px;
  --font-size-2xl: 52px;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 800;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-size: var(--font-size-md);
  font-weight: var(--font-weight-light); */
  scroll-behavior: smooth;
}

ol > li,
ul > li {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  position: relative;
}

.link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: '';
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: var(--color-primary);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.link:hover:after {
  width: 100%;
  left: 0;
}

.page {
  margin: 0 auto;
  background-color: #f6f6f6;
}

.container__home {
  width: 75%;
  padding: 20px;
  margin: 0 auto;
}
.container__NoFound {
  margin: 50px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.NotFound__Title {
  color: var(--color-primary);
  font-size: var(--font-size-md);
  text-align: center;
}
.NotFound__Description {
  text-align: center;
  color: var(--color-secondary);
}

.NotFound__Buttons {
  display: flex;
  gap: 25px;
}

.notFound__Image {
  width: 100%;
}

.NavBar__Position {
  width: 75%;
  position: fixed;
  z-index: 99999999 !important;
}

@media screen and (max-width: 1300px) {
  .container__home {
    width: 85%;
    padding: 0;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1000px) {
  .container__home {
    width: 98%;
    padding: 0;
    margin: 0 auto;
  }
  .NavBar__Position {
    width: 98%;
  background-color: #f6f6f6;

  }
}
