/* Importar la fuente Rubik desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,600&display=swap');

:root {
  --color-primary: #30235b;
  --color-secondary: #4f5665;
  --color-accent1: #d9d9d9;
  --color-accent2: #f8f8f8;
  --font-size-xs: 16px;
  --font-size-sm: 18px;
  --font-size-md: 20px;
  --font-size-lg: 48px;
  --font-size-xl: 52px;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 800;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-light);
  font-family: 'Rubik', sans-serif;
}

ol > li,
ul > li {
  list-style: none;
}

a {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  color: black;
}

a:hover {
  color: var(--color-primary);
}
