.Logo {
  display: flex;
  align-items: center;
}

.Logo__Title {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-medium);
  color: var(--color-primary);
}

.Logo__Title--Bold {
  font-weight: var(--font-weight-bold);
}
