.container__dashboard {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.container__cloud {
    width: 75%;
    padding-inline-start: 2%;
    padding-top: 3%;
    display: flex;
    justify-content: space-between;
}