.picture-input {
    display: grid;
    gap: 0.375rem;
    max-width: 10rem;
}

.picture-label {
    font-size: 0.875rem;
    color: #6b7280;
    font-weight: 500;
}

.picture-file {
    height: 2.5rem;
    width: 50%;
    border: 1px solid #d4d4d8;
    border-radius: 0.375rem;
    background-color: #f3f3f4;
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
    color: #6b7280;
}

.picture-file::file-selector-button {
    border: none;
    background: transparent;
    color: #4b5563;
    font-weight: 500;
}

/* Estilos disabled */
.picture-file:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.picture-label:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}