.WhyChooseUs {
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 5%;
  margin-bottom: 10%;
}

.WhyChooseUs__Title {
  color: var(--color-primary);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-medium);
}

.WhyChooseUs__Description {
  color: var(--color-secondary);
  font-size: var(--font-size-sm);
  margin: 10px 0;
  line-height: 2;
}

.WhyChooseUs__List {
  line-height: 3;
  margin: 10px 0;
}

.WhyChooseUs__List--Item {
  font-size: var(--font-size-sm);
  color: var(--color-secondary);
}

.WhyChooseUs__Box {
  width: 50%;
}

.WhyChooseUs__Image {
  width: 100%;
  margin: 0;
  /* object-fit: cover; */
}

@media screen and (max-width: 940px) {
  .WhyChooseUs {
    flex-direction: column;
    align-items: center;
  }
  .WhyChooseUs__Box {
    /* background-color: red; */
    width: 100%;
  }
  .WhyChooseUs__Title {
    font-size: var(--font-size-md);
  }
  .WhyChooseUs__Description {
    font-size: var(--font-size-xs);
    text-align: justify;
  }
  .WhyChooseUs__List--Item {
    font-size: var(--font-size-xs);
    line-height: 2;
  }
}
