.WhyChooseUs {
  height: 80vh;
  display: flex;
  justify-content: space-between;
  padding-top: 5%;
  margin-bottom: 10%;
}

.WhyChooseUs__Title {
  color: var(--color-primary);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-medium);
}

.WhyChooseUs__Description {
  color: var(--color-primary);
  font-size: var(--font-size-sm);
  margin: 10px 0;
  line-height: 2;
}

.WhyChooseUs__List {
  line-height: 3;
  margin: 10px 0;
}

.WhyChooseUs__List--Item {
  font-size: var(--font-size-sm);
  color: var(--color-primary);
}

.WhyChooseUs__Box {
  width: 750px;
}
